<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wchwu.dao.busin.MemberPoMapper" >
  <resultMap id="BaseResultMap" type="cn.wchwu.model.busin.MemberPo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
    <result column="CERT_ID" property="certId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="OTHER_NAME" property="otherName" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="VARCHAR" />
    <result column="NATION" property="nation" jdbcType="VARCHAR" />
    <result column="DEPT" property="dept" jdbcType="VARCHAR" />
    <result column="OFFICE" property="office" jdbcType="VARCHAR" />
    <result column="MARRIAGE" property="marriage" jdbcType="VARCHAR" />
    <result column="POLITY" property="polity" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="COMPANY_ADDR" property="companyAddr" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="ORIGINAL_PLACE" property="originalPlace" jdbcType="VARCHAR" />
    <result column="NATIVE_PLACE" property="nativePlace" jdbcType="VARCHAR" />
    <result column="HEALTH_STATUS" property="healthStatus" jdbcType="VARCHAR" />
    <result column="BIRTH_DATE" property="birthDate" jdbcType="VARCHAR" />
    <result column="HOBBY" property="hobby" jdbcType="VARCHAR" />
    <result column="ADVANTAGE" property="advantage" jdbcType="VARCHAR" />
    <result column="INTENT_DEPT" property="intentDept" jdbcType="VARCHAR" />
    <result column="INTENT_DEPT2" property="intentDept2" jdbcType="VARCHAR" />
    <result column="JOIN_REASON" property="joinReason" jdbcType="VARCHAR" />
    <result column="WANT_GAIN" property="wantGain" jdbcType="VARCHAR" />
    <result column="JOIN_DATE" property="joinDate" jdbcType="VARCHAR" />
    <result column="RESUME_PATH" property="resumePath" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPERATOR_ID, CERT_ID, NAME, OTHER_NAME, GENDER, NATION, DEPT, OFFICE, MARRIAGE, 
    POLITY, TEL, ADDRESS, COMPANY_ADDR, EMAIL, STATUS, ORIGINAL_PLACE, NATIVE_PLACE, 
    HEALTH_STATUS, BIRTH_DATE, HOBBY, ADVANTAGE, INTENT_DEPT, INTENT_DEPT2, JOIN_REASON, 
    WANT_GAIN, JOIN_DATE, RESUME_PATH, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.wchwu.model.busin.MemberPo" >
    insert into member (ID, OPERATOR_ID, CERT_ID, 
      NAME, OTHER_NAME, GENDER, 
      NATION, DEPT, OFFICE, 
      MARRIAGE, POLITY, TEL, 
      ADDRESS, COMPANY_ADDR, EMAIL, 
      STATUS, ORIGINAL_PLACE, NATIVE_PLACE, 
      HEALTH_STATUS, BIRTH_DATE, HOBBY, 
      ADVANTAGE, INTENT_DEPT, INTENT_DEPT2, 
      JOIN_REASON, WANT_GAIN, JOIN_DATE, 
      RESUME_PATH, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{operatorId,jdbcType=INTEGER}, #{certId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{otherName,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, #{office,jdbcType=VARCHAR}, 
      #{marriage,jdbcType=VARCHAR}, #{polity,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{companyAddr,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{originalPlace,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, 
      #{healthStatus,jdbcType=VARCHAR}, #{birthDate,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, 
      #{advantage,jdbcType=VARCHAR}, #{intentDept,jdbcType=VARCHAR}, #{intentDept2,jdbcType=VARCHAR}, 
      #{joinReason,jdbcType=VARCHAR}, #{wantGain,jdbcType=VARCHAR}, #{joinDate,jdbcType=VARCHAR}, 
      #{resumePath,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wchwu.model.busin.MemberPo" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="certId != null" >
        CERT_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="otherName != null" >
        OTHER_NAME,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="nation != null" >
        NATION,
      </if>
      <if test="dept != null" >
        DEPT,
      </if>
      <if test="office != null" >
        OFFICE,
      </if>
      <if test="marriage != null" >
        MARRIAGE,
      </if>
      <if test="polity != null" >
        POLITY,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="companyAddr != null" >
        COMPANY_ADDR,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="originalPlace != null" >
        ORIGINAL_PLACE,
      </if>
      <if test="nativePlace != null" >
        NATIVE_PLACE,
      </if>
      <if test="healthStatus != null" >
        HEALTH_STATUS,
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE,
      </if>
      <if test="hobby != null" >
        HOBBY,
      </if>
      <if test="advantage != null" >
        ADVANTAGE,
      </if>
      <if test="intentDept != null" >
        INTENT_DEPT,
      </if>
      <if test="intentDept2 != null" >
        INTENT_DEPT2,
      </if>
      <if test="joinReason != null" >
        JOIN_REASON,
      </if>
      <if test="wantGain != null" >
        WANT_GAIN,
      </if>
      <if test="joinDate != null" >
        JOIN_DATE,
      </if>
      <if test="resumePath != null" >
        RESUME_PATH,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="certId != null" >
        #{certId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="otherName != null" >
        #{otherName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="office != null" >
        #{office,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="polity != null" >
        #{polity,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null" >
        #{companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="originalPlace != null" >
        #{originalPlace,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="healthStatus != null" >
        #{healthStatus,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="advantage != null" >
        #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="intentDept != null" >
        #{intentDept,jdbcType=VARCHAR},
      </if>
      <if test="intentDept2 != null" >
        #{intentDept2,jdbcType=VARCHAR},
      </if>
      <if test="joinReason != null" >
        #{joinReason,jdbcType=VARCHAR},
      </if>
      <if test="wantGain != null" >
        #{wantGain,jdbcType=VARCHAR},
      </if>
      <if test="joinDate != null" >
        #{joinDate,jdbcType=VARCHAR},
      </if>
      <if test="resumePath != null" >
        #{resumePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wchwu.model.busin.MemberPo" >
    update member
    <set >
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="certId != null" >
        CERT_ID = #{certId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="otherName != null" >
        OTHER_NAME = #{otherName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        NATION = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        DEPT = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="office != null" >
        OFFICE = #{office,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null" >
        MARRIAGE = #{marriage,jdbcType=VARCHAR},
      </if>
      <if test="polity != null" >
        POLITY = #{polity,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null" >
        COMPANY_ADDR = #{companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="originalPlace != null" >
        ORIGINAL_PLACE = #{originalPlace,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="healthStatus != null" >
        HEALTH_STATUS = #{healthStatus,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE = #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        HOBBY = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="advantage != null" >
        ADVANTAGE = #{advantage,jdbcType=VARCHAR},
      </if>
      <if test="intentDept != null" >
        INTENT_DEPT = #{intentDept,jdbcType=VARCHAR},
      </if>
      <if test="intentDept2 != null" >
        INTENT_DEPT2 = #{intentDept2,jdbcType=VARCHAR},
      </if>
      <if test="joinReason != null" >
        JOIN_REASON = #{joinReason,jdbcType=VARCHAR},
      </if>
      <if test="wantGain != null" >
        WANT_GAIN = #{wantGain,jdbcType=VARCHAR},
      </if>
      <if test="joinDate != null" >
        JOIN_DATE = #{joinDate,jdbcType=VARCHAR},
      </if>
      <if test="resumePath != null" >
        RESUME_PATH = #{resumePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="cn.wchwu.model.busin.MemberPo">
    update member
    set OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      OTHER_NAME = #{otherName,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=VARCHAR},
      NATION = #{nation,jdbcType=VARCHAR},
      DEPT = #{dept,jdbcType=VARCHAR},
      OFFICE = #{office,jdbcType=VARCHAR},
      MARRIAGE = #{marriage,jdbcType=VARCHAR},
      POLITY = #{polity,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      COMPANY_ADDR = #{companyAddr,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      ORIGINAL_PLACE = #{originalPlace,jdbcType=VARCHAR},
      NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      HEALTH_STATUS = #{healthStatus,jdbcType=VARCHAR},
      BIRTH_DATE = #{birthDate,jdbcType=VARCHAR},
      HOBBY = #{hobby,jdbcType=VARCHAR},
      ADVANTAGE = #{advantage,jdbcType=VARCHAR},
      INTENT_DEPT = #{intentDept,jdbcType=VARCHAR},
      INTENT_DEPT2 = #{intentDept2,jdbcType=VARCHAR},
      JOIN_REASON = #{joinReason,jdbcType=VARCHAR},
      WANT_GAIN = #{wantGain,jdbcType=VARCHAR},
      JOIN_DATE = #{joinDate,jdbcType=VARCHAR},
      RESUME_PATH = #{resumePath,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryList" parameterType="cn.wchwu.model.busin.MemberPo" resultMap="BaseResultMap">
  	select 
     <include refid="Base_Column_List" />
	 from member
	 where 1=1
  	<if test="record.operatorId != null">
        and OPERATOR_ID = #{record.operatorId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        and NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.otherName != null">
        and OTHER_NAME = #{record.otherName,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        and GENDER = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null">
        and NATION = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.dept != null">
        and DEPT = #{record.dept,jdbcType=VARCHAR},
      </if>
      <if test="record.office != null">
        and OFFICE = #{record.office,jdbcType=VARCHAR},
      </if>
      <if test="record.marriage != null">
        and MARRIAGE = #{record.marriage,jdbcType=VARCHAR},
      </if>
      <if test="record.polity != null">
        and POLITY = #{record.polity,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        and TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        and ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddr != null">
        and COMPANY_ADDR = #{record.companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        and EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        and STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPlace != null">
        and ORIGINAL_PLACE = #{record.originalPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.nativePlace != null">
        and NATIVE_PLACE = #{record.nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.healthStatus != null">
        and HEALTH_STATUS = #{record.healthStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.birthDate != null">
        and BIRTH_DATE = #{record.birthDate,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby != null">
        and HOBBY = #{record.hobby,jdbcType=VARCHAR},
      </if>
      <if test="record.advantage != null">
        and ADVANTAGE = #{record.advantage,jdbcType=VARCHAR},
      </if>
      <if test="record.intentDept != null">
        and INTENT_DEPT = #{record.intentDept,jdbcType=VARCHAR},
      </if>
      <if test="record.intentDept2 != null">
        and INTENT_DEPT2 = #{record.intentDept2,jdbcType=VARCHAR},
      </if>
      <if test="record.joinReason != null">
        and JOIN_REASON = #{record.joinReason,jdbcType=VARCHAR},
      </if>
      <if test="record.wantGain != null">
        and WANT_GAIN = #{record.wantGain,jdbcType=VARCHAR},
      </if>
      <if test="record.joinDate != null">
        and JOIN_DATE = #{record.joinDate,jdbcType=VARCHAR},
      </if>
      <if test="record.resumePath != null">
        and RESUME_PATH = #{record.resumePath,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        and CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null">
        and UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
  </select>
</mapper>